
<div class="vh-100 grand">
    <div class="container-fluid p-5 text-Black text-center bienvenu">
      <h1>Bienvenu Merci de se connecter ou de s'incrire</h1>
    </div>
    <div class="container-fluid  p-5 text-Black text-center imageOrange">
      <img src="/assets/logo.png" class="img-fluid w-50 h-50  " alt="Responsive image">
    </div>
    <div class="container-fluid p-5 text-Black text-center bouton" >
      <button type="button" class="btn btn-outline-warning login"  routerLink="/login">Se connecter</button>
      <button type="button" class="btn btn-outline-success inscription" routerLink="/inscription">Inscription</button>
    </div>
  </div>
